*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: capitalize;
}
 html{
    overflow-x: hidden;
 }
.logo{
    border-radius: 50%;
    margin-top: 0px;
    margin-right: 1050px;
    height: 70px;
    width:70px;
    border:3px solid red;

}
.img2{
    /* background-image: url("stud03.jpg"); */
    /* background-image: url("https://source.unsplash.com/featured/300x201") ; */
    background-size: cover;
    width: 100%;
    height: 850px;
}

.video1{
    height:100%;
    width:100%;
    filter:brightness(0.6);
    position: relative;
    z-index: -1;
    margin-top: 0px;
    
}

.vid_a{
    margin-top: -350px;
    z-index: 1;
    padding:1%;
    font-size:22px;
    margin-left:0px;
    font-style: bold;
    
}
.vid_a .learn{
    border:1px solid white;
    padding:0.5%;
    color:white;
    text-decoration: none;
    margin-right: 10px;
    transition: 0.5s;
    border-radius: 15px;
}

.vid_a .learn:hover{
    color:red;
    background-color: white;
    /* background-color: cyan; */
    border-radius: 0px;
    
}

.vid_a .login{
    border:1px solid white;
    padding:0.5%;
    color:red;
    text-decoration: none;
    margin-right: 30px;
    transition: 0.5s;
    border-radius: 15px;
    background-color:#f1eded;
}

.vid_a .login:hover{
    color:red;
    border-radius: 0px;
    /* text-shadow: 5px 1px 5px black; */
}
.h1{
    text-align: center;
    text-transform: capitalize;
    font-size:25px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color:#333;
    opacity: 1;
}
.h1 h1{
    /* text-decoration:underline; */
    color:red;
    font-size: 60px;
    text-shadow: 1px 4px 5px black;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.h1 p{
    font-size: 25px;
    color:yellow;
    margin-top: 20px;
    text-shadow: 10px 1px 5px black;
    

}
.h1 p .b{
    color:white;
    text-decoration:underline;
    text-shadow: 10px 1px 5px black;
    font-size:30px
}
.a a{
    color:white;
    padding-inline-start: 10px;
    margin-right: 10px;
    text-decoration: none;
    font-size:16px;
    border:2px solid white;
    padding:0.8%;
    border-radius: 10px;
    text-shadow: 1px 4px 50px white;
    transition: 0.6s;
    
}
.a a:hover{
    color:red;
    background-color: cyan;
    box-shadow: 1px 4px 10px  #352b2b;
}
/* .a .login{ */
    /* background-color: cyan; */
/* } */
.a .login:hover{
    color:red;
    /* background-color: transparent; */
    background-color: cyan;
    box-shadow: 1px 4px 
    10px  #352b2b;
}
.nav{
    display: flex;
    height:100px;
    width:100%;
    position: fixed;
    padding-top: 0px;
    margin-top:0px;
    /* font-family: 'Times New Roman', Times, serif;    */
    border-radius:0px;
    align-items: center;
    justify-content: center;
    background-color: rgb(254, 253, 253);
    z-index: 1;
}
.nav ul{
    display: flex;
    width:360px;
    height: 70px;
    margin-top:100px;
    /* border:2px solid red; */
    /* border-radius: 10px; */
    /* background-color:#D3D3D3; */
    padding:-1%;
    margin-right:0px
}
.nav ul li{
    /* position: relative; */
    list-style: none;
    height:80px;
    padding-inline-start: 20px;
}
.nav ul li a{
    /* position: relative; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-decoration: none;
    margin-top: -10px;
    
}
.nav ul li a .icon{
    /* position: relative; */
    margin-top: -60px;
    display:block;
    line-height: 45px;
    font-size:23px;
    top:-15px;
    color:red;
    margin-bottom: 0px;
    transition:0.3s
}

.nav ul li:hover a .icon{
    transform: translateY(-20px);
    color:rgb(207, 39, 39);

}

.nav ul li a .text{
    color:red;
    transition: 0.5;
    /* font-weight: 400;  */
    transition: 0.1s;
}
.nav ul li:hover a .text{
    opacity: 1;
    transform: translateY(-20px);
    color:black
}

.main_contant{
    margin-top:0px;
    /* background-color: grey; */
}
.contant{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:20px;
    margin-top:50px;
    text-align:center;
}

.contant h1{
    color:#333;
  
}

.con p{
    font-size:18px;
}
.con h3{
    font-size:20px
}


.con{
    padding:1%;
    box-sizing: border-box;
    margin-right: 60px;
    box-shadow: 0px 3px 0px 0px red;
    transition: all 0.3s ease 0s ;    
}
.con:hover{
    background-color: lightblue;
    /* transition: all 0.5s ease 0s ; */
    box-shadow: 1px 1px 10px 1px #352b2b; 
    margin-top:-20px;
}

.con img{
    height:80px;
    width:70px;
    box-shadow: 5px 5px#333;
}
.over_activity{
    display: flex;
    padding-inline-start: 70px;
    padding-inline-end: 70px;
    text-align:center;
    margin:0px 2000px 0px 90px;
    
}
.con{
    height:300px;
    width:350px;
    border-radius: 10px;
    background-color: #f1eded;
}

/* con1 */


.con1 p{
    font-size:18px;
}
.con1 h3{
    font-size:20px
}


.con1{
    padding:1%;
    box-sizing: border-box;
    margin-right: 60px;
    transition: all 0.3s ease 0.1s; 
    box-shadow: 0px 3px 0px 0px red;
    background-color: #f1eded; 
}
.con1:hover{
    background-color: lightblue;
    transition: all 0.3s ease 0.1s ;
    box-shadow: 1px 1px 10px 1px #352b2b;
    margin-top:-20px;
}

.con1 img{
    height:80px;
    width:70px;
    box-shadow: 5px 5px #333;
}
.over_activity1{
    display: flex;
    padding-inline-start: 70px;
    padding-inline-end: 70px;
    text-align:center;
    margin:0px 90px 0px 90px; 
}

.con1{

    height:300px;
    width:350px;
    border-radius: 10px;
}


.certifications{
    margin-top:100px;
    margin-left:300px;
    margin-right:300px;
    /* border:1px solid black; */
    border-radius: 10px;
    padding:2%;

}
.uni {
    margin-top: -90px;
    background-color: white;
    padding: 2%;
}
.uni h1{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:40px;
    color:grey;
    text-decoration: underline;
}
.certifications{
    margin-top:50px;
}
.certifications figure{
    height: 300px;
    width:100px;

}
.certifications h3{
    margin-top:-300px;
    margin-left:100px;
    font-size:25px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:#121111
}
.certifications p{
    margin-top:5px;
    margin-left:100px;
    font-size:20px;
    color:#333;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.trust{
    display: flex;
    background-color: rgb(46, 46, 52);
    font-size:26px;
    padding:50px;
    color:white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.trust .icon1{
    margin-top:-7px
}

.trust .icon4{
    margin-top:-14px
}

.trust p{
    margin-top:-100px;
    margin-left: 90px;
    padding-left: 10%;
    color:white;
}

.icon_trust1{
    font-size:90px;
    margin-right:200px;
    padding-left: 7%;
    
}

.icon_trust2{
    font-size:90px;
    padding-left: 7%;
}

.icon_trust3{
    font-size:90px;
    padding-left: 7%;
}

.icon_trust4{
    font-size:90px;
    padding-left: 7%;

    
}
.div_crearity{
    background-color: rgb(235, 230, 230);
    
}
.clearity{
    height:500px;
    width:1200px;
    background-image: url("clearity.jpg");
    background-size: cover;
    margin:20px 200px 0px 130px;
    border-radius: 20px;
    margin-top:0px;
    box-shadow: 0px 10px 10px 10px grey;
    filter:brightness(100%)
    /* box-shadow: 1px 2px 50px grey; */

}
.clearity h3{
    /* margin-left: -70px; */
    font-size:30px;
    color:white ;       
}

.gallary_bar{
    text-align: center;
    font-size:30px;
    color:black;
    font-style:bold;
    text-transform: uppercase;
    
    /* background-color: rgb(249, 247, 247); */
}

.gallary_bar span{
    /* border:2px solid black; */
    padding:0.7%;
    border-radius: 10px;
    background-color: rgba(249, 9, 9, 0.271);
}
.g_img{
    padding: 3%;
    margin-left:0px;
    margin-right:0px;
    filter:brightness(80%)
    /* border:1px solid black */

}
.g_img .g_img1{
    height: 300px;
    width: 400px;
    transition: 0.5s;
    /* border:10px solid grey ; */
    box-shadow: 0px 20px 20px 0px black;
    margin-left:-40px;
    border-radius: 20px;
    /* animation: ka 2s infinite linear; */
}

.g_img .g_img1:hover{
    transform:translateY(10px);
    border-radius: 0px;
}
.g_img .g_img2{
    height: 300px;
    width: 400px;
    transition: 0.5s;
    margin-left:40px;
    /* border:10px solid grey; */
    box-shadow: 0px 20px 20px 0px black;
    border-radius: 20px; 
    
}
.g_img .g_img2:hover{
    transform:translateY(10px);
    border-radius: 0px;
}

.g_img .g_img3{
    height: 300px;
    width: 400px;
    margin-left:40px;
    /* border:10px solid grey ; */
    box-shadow: 0px 20px 20px 0px black;
    transition: 0.5s;
    border-radius: 20px;
    
}
.g_img .g_img3:hover{
    transform:translateY(10px);
    border-radius: 0px;
}
.g_img .g_img4{
    height: 300px;
    width: 400px;
    transition: 0.5s;
    margin-left:-40px;
    /* border:10px solid grey ; */
    box-shadow: 0px 20px 20px 0px black;
    border-radius: 20px;
    
}
.g_img .g_img4:hover{
    transform:translateY(10px);
    border-radius: 0px;
}
.g_img .g_img5{
    height: 300px;
    width: 400px;
    transition: 0.5s;
    margin-left:40px;
    /* border:10px solid grey ; */
    box-shadow: 0px 20px 20px 0px black;
    border-radius: 20px;
    
}
.g_img .g_img5:hover{
    transform:translateY(10px);
    border-radius: 0px;
}
.g_img .g_img6{
    height: 300px;
    width: 400px;
    transition: 0.5s;  
    margin-left:40px; 
    /* border:10px solid grey ; */
    box-shadow: 0px 20px 20px 0px black;
    border-radius: 20px;

    
}
.g_img .g_img6:hover{
    transform:translateY(10px);
    border-radius: 0px;
}
.g_full{
    height:400px;
    width:1200px;
    border-radius: 20px;
    margin-left:-30px;
    box-shadow: 0px 20px 20px 0px black;
    transition: 0.5s;  
    filter:brightness(80%)
}
.g_full:hover{
    transform:translateY(10px);
    border-radius: 0px;
}
.g_button1{
    color:black;
    padding:0.5%;
    font-size:20px;
    background-color: transparent;

    margin-left:800px;
    border-radius:10px;
    transition: 0.5s;
}
.g_button1:hover{
    margin-right:-20px;
    border-radius: 0px;
    background-color: cyan;

}
.g_con5{
    padding: 3%;
    margin-left:0px;
    margin-right:0px;
    filter:brightness(80%)
}
.g_con5 .g_img1{
    height: 300px;
    width: 400px;
    transition: 0.5s;
    /* border:10px solid grey ; */
    box-shadow: 0px 20px 20px 0px black;
    margin-left:-40px;
    border-radius: 20px;
    /* animation: ka 2s infinite linear; */
}

.g_con5 .g_img1:hover{
    transform:translateY(10px);
    border-radius: 0px;
}
.g_con5 .g_img2{
    height: 300px;
    width: 400px;
    transition: 0.5s;
    margin-left:40px;
    /* border:10px solid grey; */
    box-shadow: 0px 20px 20px 0px black;
    border-radius: 20px; 
    
}
.g_con5 .g_img2:hover{
    transform:translateY(10px);
    border-radius: 0px;
}

.g_con5 .g_img3{
    height: 300px;
    width: 400px;
    margin-left:40px;
    /* border:10px solid grey ; */
    box-shadow: 0px 20px 20px 0px black;
    transition: 0.5s;
    border-radius: 20px;
    
}
.g_con5 .g_img3:hover{
    transform:translateY(10px);
    border-radius: 0px;
}
.g_con5 .g_img4{
    height: 300px;
    width: 400px;
    transition: 0.5s;
    margin-left:-40px;
    /* border:10px solid grey ; */
    box-shadow: 0px 20px 20px 0px black;
    border-radius: 20px;
    
}
.g_con5 .g_img4:hover{
    transform:translateY(10px);
    border-radius: 0px;
}
.g_con5 .g_img5{
    height: 300px;
    width: 400px;
    transition: 0.5s;
    margin-left:40px;
    /* border:10px solid grey ; */
    box-shadow: 0px 20px 20px 0px black;
    border-radius: 20px;
    
}
.g_con5 .g_img5:hover{
    transform:translateY(10px);
    border-radius: 0px;
}
.g_con5 .g_img6{
    height: 300px;
    width: 400px;
    transition: 0.5s;  
    margin-left:40px; 
    /* border:10px solid grey ; */
    box-shadow: 0px 20px 20px 0px black;
    border-radius: 20px;

    
}
.g_con5 .g_img6:hover{
    transform:translateY(10px);
    border-radius: 0px;
}
.g_full_img{
    height:400px;
    width:800px;
    border-radius: 20px;
    margin-left:-30px;
    box-shadow: 0px 20px 20px 0px black;
    transition: 0.5s;  
    filter:brightness(80%);

}
.g_full_img:hover{
    transform:translateY(10px);
    border-radius: 0px;
}

.review_bar{
    text-align: center;
    font-size:40px;
    color:black;
    font-style:bold;
    text-transform: uppercase;
}

.review_bar span{
    /* border:2px solid black; */
    padding:0.7%;
    border-radius: 10px;
    background-color: rgba(249, 9, 9, 0.271);
}


.review .review-slider{
    margin-top:-140px;
    padding: 10%;
  }
  
  .review .box{
    padding:2rem;
    text-align: center;
    box-shadow: 0 1rem 2rem rgba(0,0,0,.1);
    border-radius: .5rem;
    
  }
  
  .review .box img{
    height:13rem;
    width:13rem;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
  }
  
  .review .box h3{
    color:#333;
    font-size: 2.5rem;
  }
  
  .review .box p{
    color:#666;
    font-size: 1.5rem;
    padding:1rem 0;
  }
  
  .review .box .stars {
    color:yellow;
    font-size: 1.7rem;
  }
  
.footer{
    background:#333;
    padding:4%
  }
  
  .footer .box-container{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
  }
  
  .footer .box-container .box{
    padding:1rem 0;
    flex:1 1 25rem;
    
  }
  
  .footer .box-container .box h3{
    font-size:30px;
    padding:.7rem 0;
    color:#fff;

  }
  
  .footer .box-container .box p{
    font-size: 20px;
    padding:.7rem 0;
    color:#eee;
  }
  
  .footer .box-container .box a{
    display: block;
    font-size: 20px;
    padding:.7rem 0;
    color:#eee;
    transition: 0.5s;
    text-decoration: none;
    text-transform: capitalize;
  }
  
  .footer .box-container .box a:hover{
    color:yellow;
  }
  
  .footer .credit{
    text-align: center;
    padding:2rem 1rem;
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: normal;
    color:#fff;
    border-top: .1rem solid rgba(255,255,255,.2);
  }
  
  .footer .credit span{
    color:var(--orange);
  }

@media only screen and (max-width: 100px) {
.text {font-size: 11px}

}
